

<% id = @busqueda["id"]  %>
<% title = @busqueda["title"]  %>
<% done = @busqueda["done"] %>
<% created_at = @busqueda["created_at"] %>
<% updated_at = @busqueda["updated_at"] %>
<%= "Título: #{title}" %>
<br>
<%= "ID: #{id}" %>
<br>
<%= "Estado: #{done}" %>
<br>
<%= "Fecha creación: #{created_at}" %>
<br>
<%= "Fecha de actualización: #{updated_at}" %>
<br>
<br>

<form class="" action="/" method="get">
  <input type="submit" name="" value="Volver">
</form>
